*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.imagen{
    margin-left: 20%;
}
.padre {
   
    width: 1200px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:solid red 1px;
}
.arriba{
    margin-top: -10px;
    margin-bottom: 20px;
}

.caja{
    display: flex;
    flex-direction: column;
    

    border: 1px solid rgb(189, 184, 184);
    width: 360px;
    height: 500px;
   

}
.contenido{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    
   
    width: 850px;
    height: 700px;
    
}
.for{
    display: flex;
    flex-direction: column;
}
#pp{
    font-style: italic;
    font-size: 400%;
    text-align: center;
}
input{
    box-sizing: border-box;
    
    height: 70%;
}
.formulario{
    display: flex;
    justify-content: center;
    width: 100%;
    
    
   
}
.linea{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
}
.facebook{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 95px;
   
}
input{
    height: 40px;width:300px;
}
button{
    height: 40px;background-color: aqua;color: beige;border: none;border-radius: 8%;
}
.olvidar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    

    border: 1px solid rgb(189, 184, 184);
    width: 360px;
    height: 80px;
    margin-top: 2%;
    
}
.app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imagenes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.line{
    background-color: rgb(219, 219, 219);
    height: 2px;
    width: 136px;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}
.c{
    color: blue;font-size: 120%;align-content: center;
}
.cc{
    color: blue;size: 2px;
}
.final{
    display: flex;
   
    justify-content: center;
    color: rgb(165, 164, 161);
}
.final1{
    color: rgb(165, 164, 161);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 875px){
    .imagen{
        display: none;

    }
    .padre{
        border: solid black 1px;
        width: 100%;
        height:100%;
        
        display: flex;
        flex-direction: column;
        align-items: center;
    }
   
    
    
    
    .olvidar{
        border: none;
    }
    .caja{
        border: none;
    }
    
    
    

}

@media screen and (max-width: 450px){
    .caja{
        border: none;
       
        
    }
    .imagen{
        display: none;

    }
    
    .olvidar{
        border:none;
        
    }
    .padre{
        border: solid black 1px;
        width: 100%;
        height:100%;
       
        display: flex;
        flex-direction: column;
    }
    .contenido{
        width: 100%;
        height:100%;
    }
    
    
    
       
}
